# Dépendances
node_modules/

# Build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système
.DS_Store
Thumbs.db

# Editeurs
.vscode/
.idea/
*.swp
*.swo

# Variables d'environnement
.env
.env.local
.env.*.local
